@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0px;
  color: rgb(60, 60, 60);
  background-color: rgb(245, 245, 245);
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 40px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
}

.card img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 16px;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 720px) {
  .container {
    width: 95%;
    margin: 20px auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
